body {
  font-family: 'Hannari', 'Cormorant Garamond', YuMincho, 'Yu Mincho', serif;
}

#header, #mainvisual {
  background-color: #fdecf9;
}

#gnav li a:link, #gnav li a:visited, #gnav li a:active, #gnav li a:hover {
  color: #707070;
}

#gnav img {
  margin: 0 auto 3px;
  -moz-transition: transform .3s ease-out;
  -webkit-transition: transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  -ms-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
}

#article {
  overflow: scroll;
  position: relative;
  background-color: #eeeeee;
}

#article::-webkit-scrollbar{
  display:none;
}

#article h3 {
  line-height: 150%;
}
